{block content}
    <header>
        <h1>JCU iCanteen Notifier</h1>
        <h2>Přihlášení k odběru</h2>
    </header>
    <section>
        <p>Děkujeme za odběru jídelníčku mezi JČU.</p>
        <p>V okamžiku zveřejnění nových specialit budete informován/a.</p>
    </section>

