{layout '@layout.latte'}
{block content}
<header style="padding: 10px 5px;text-align: center;font-weight: bold;">
    <h1 style="font-weight: 500;line-height: 1.1;font-size: 36px;">JCU iCanteen Notifier</h1>
    <h2 style="font-weight: 500;line-height: 1.1;font-size: 30px;">Přihlášení k odběru</h2>
</header>
<div style="background-color: white;border: 1px solid #e5e9ec;border-bottom-width: 2px;padding: 15px 15px 15px 35px;">
    <p>Děkujeme za odběru jídelníčku mezi JČU.</p>
    <p>V okamžiku zveřejnění nových specialit budete informován/a.</p>
</div>